/* tenant-card.component.css */
.entity-card,
.tenant-card {
  border-radius: 16px !important;
  box-shadow: 0 6px 24px rgba(0,0,0,0.08);
}

button[nz-button] {
  display: inline-flex;
  align-items: center;
  /*gap: 8px; !* khoảng cách icon - text *!*/
}

button[nz-button] span[nz-icon] {
  font-size: 16px; /* kích thước icon chuẩn */
  vertical-align: middle;
}

.users-section {
  margin-top: 2.5rem;
}

:host ::ng-deep .ant-card {
  transition: all 0.3s;
}

:host ::ng-deep .ant-card:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}
