<div class="page-container">
  <h1 class="text-2xl font-bold text-gray-800 mb-2">Profile</h1>
  <h2 class="text-xl font-bold text-gray-500 mb-2">Your Profile</h2>

  @if (user(); as us) {
    <app-auth-user-card
      [user]="us"
    >
    </app-auth-user-card>
  }
  @else {
    <div class="text-center py-16">
      <nz-spin nzSize="large"></nz-spin>
      <p class="mt-4 text-gray-500">Loading user information...</p>
    </div>
  }

  <h2 class="text-xl font-bold text-gray-500 mb-2">Change your profile</h2>

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" autocomplete="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
        <input nz-input type="password" id="password" formControlName="password" autocomplete="new-password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" autocomplete="new-password" />
        <ng-template #errorTpl let-control>
          @if (control.errors?.['required']) {
            Please confirm your password!
          }
          @if (control.errors?.['confirm']) {
            Two passwords that you enter is inconsistent!
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

