<form (ngSubmit)="onSubmit()" [formGroup]="formGroup()" nz-form>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>Username</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Username phải từ 4-20 ký tự!">
      <input autocomplete="username" formControlName="username" id="username" nz-input/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Email không hợp lệ!">
      <input autocomplete="email" formControlName="email" id="email" nz-input/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập password!">
      <input autocomplete="new-password" formControlName="password" id="password" nz-input type="password"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzErrorTip]="checkPasswordErrorTpl" [nzSm]="14" [nzXs]="24">
      <input autocomplete="new-password" formControlName="checkPassword" id="checkPassword" nz-input type="password"/>
      <ng-template #checkPasswordErrorTpl let-control>
        @if (control.errors?.['required']) {
          Vui lòng xác nhận password!
        }
        @if (control.errors?.['confirm']) {
          Hai password không khớp nhau!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role" nzRequired>Role</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Role là bắt buộc!">
      <nz-select formControlName="role" nzPlaceHolder="Chọn role">
        @for (opt of options; track opt.value) {
          <nz-option [nzLabel]="opt.label" [nzValue]="opt.value"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="register-area" nz-row>
    <nz-form-control [nzOffset]="6" [nzSpan]="14">
      <button [disabled]="formGroup()?.invalid" nz-button nzType="primary">
        {{ submitLabel() }}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
