.user-card {
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  border-radius: 16px !important;
}
:host ::ng-deep .ant-card-body {
  padding: 32px;
}

button[nz-button] {
  display: inline-flex;
  align-items: center;
  /*gap: 8px; !* khoảng cách icon - text *!*/
}

button[nz-button] span[nz-icon] {
  font-size: 16px; /* kích thước icon chuẩn */
  vertical-align: middle;
}
