<nz-card class="user-card" [nzBordered]="false">
  <div class="flex items-start gap-6">
    <div class="flex-1">
      <h2 class="text-2xl font-bold flex items-center gap-3">
        {{ user().username }}
        @if (user().role === 'ADMIN') {
          <nz-tag nzColor="red">ADMIN</nz-tag>
        } @else {
          <nz-tag nzColor="green">USER</nz-tag>
        }
      </h2>
      <p class="text-gray-500 mt-1">{{ user().email }}</p>
      <nz-descriptions nzBordered nzSize="small" [nzColumn]="2" class="mt-6">
        <nz-descriptions-item nzTitle="User ID">
          #{{ user().id }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Role">
          <nz-tag [nzColor]="user().role === 'ADMIN' ? 'volcano' : 'geekblue'">
            {{ user().role }}
          </nz-tag>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Created Date">
          {{ user().email }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Created Date">
          {{ user().createdDate }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Last Modified">
          {{ user().modifiedDate }}
        </nz-descriptions-item>
<!--        <nz-descriptions-item nzTitle="Status" [nzSpan]="2">-->
<!--          <nz-tag color="green">Active</nz-tag>-->
<!--        </nz-descriptions-item>-->
      </nz-descriptions>

      <div class="mt-6 flex gap-3">
<!--        <button nz-button nzType="primary" [routerLink]="['/users', user().id, 'edit']">-->
<!--          <span nz-icon nzType="edit"></span>-->
<!--          Edit User-->
<!--        </button>-->
<!--        <button nz-button nzDanger>-->
<!--          <span nz-icon nzType="delete"></span>-->
<!--          Delete-->
<!--        </button>-->
        @if (deleteButton()){
          <button nz-button nzDanger>
            <span nz-icon nzType="delete"></span>
            Delete
          </button>
        }
        </div>
    </div>
  </div>
</nz-card>
