<div class="mb-4 flex justify-between">
  <h1 class="text-2xl font-semibold mb-6">
    USER LIST
  </h1>
  <ng-container class="mb-4">
    <button [routerLink]="createRoute" nz-button nzType="primary">+ Add User</button>
  </ng-container>
</div>
<!--<div class="table-toolbar flex mb-16 flex-wrap gap-8 justify-between">-->
<!--  <div class="left">-->
<!--    <button-->
<!--      (click)="multipleDelete()"-->
<!--      [disabled]="setOfCheckedId.size === 0 || editing()"-->
<!--      nz-button-->
<!--      nzDanger>-->
<!--      Delete-->
<!--    </button>-->

<!--    <span class="ml-2">-->
<!--      Selected {{ setOfCheckedId.size }}-->
<!--    </span>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="table-wrapper">-->
<!--  <nz-table-->
<!--    #basicTable-->
<!--    [nzBordered]="true"-->
<!--    [nzData]="users"-->
<!--    [nzShowPagination]="true"-->
<!--    ngSkipHydration-->
<!--    nzShowSizeChanger-->
<!--  >-->
<!--    <thead>-->
<!--    <tr>-->

<!--      <th-->
<!--        (nzCheckedChange)="onAllChecked($event)"-->
<!--        [nzChecked]="checked"-->
<!--        [nzIndeterminate]="indeterminate"-->
<!--        nzLabel="Select all"-->
<!--      >-->
<!--      </th>-->
<!--      <th>Id</th>-->
<!--      <th>Username</th>-->
<!--      <th>Email</th>-->
<!--      <th>Role</th>-->
<!--      <th>Created Date</th>-->
<!--      <th>Modified Date</th>-->
<!--      <th>Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      @for (item of basicTable.data; track item) {-->
<!--        <tr>-->
<!--          <td-->
<!--            [nzChecked]="setOfCheckedId.has(item.id)"-->
<!--            [nzLabel]="item.username"-->
<!--            (nzCheckedChange)="onItemChecked(item.id, $event)"-->
<!--          >-->
<!--          </td>-->
<!--          @if (!editCache[item.id].edit) {-->
<!--            <td>{{ item.id }}</td>-->
<!--            <td>{{ item.username }}</td>-->
<!--            <td>{{ item.email }}</td>-->
<!--            <td>-->
<!--              <nz-tag [nzColor]="item.role == 'USER' ? 'red': 'blue'">{{ item.role }}</nz-tag>-->
<!--            </td>-->
<!--            <td>{{ item.createdDate }}</td>-->
<!--            <td>{{ item.modifiedDate }}</td>-->
<!--            <td>-->
<!--              <a class="mr-2" (click)="startEdit(item.id)">Edit</a>-->
<!--            </td>-->
<!--          } @else {-->
<!--            <td>{{ item.id }}</td>-->
<!--            <td><input class="min-w-140 w-full" type="text" nz-input [(ngModel)]="editCache[item.id].data.username">-->
<!--            </td>-->
<!--            <td><input class="min-w-140 w-full" type="text" nz-input [(ngModel)]="editCache[item.id].data.email"></td>-->
<!--            <td>-->
<!--              <nz-select-->
<!--                class="w-full"-->
<!--                [(ngModel)]="editCache[item.id].data.role">-->
<!--                @for (r of ROLE; track r.value) {-->
<!--                  <nz-option-->
<!--                    [nzLabel]="r.label"-->
<!--                    [nzValue]="r.value">-->
<!--                  </nz-option>-->
<!--                }-->
<!--              </nz-select>-->
<!--            </td>-->

<!--            &lt;!&ndash;            <td><nz-tag [nzColor]="item.role == 'USER' ? 'red': 'blue'">{{item.role}}</nz-tag></td>&ndash;&gt;-->
<!--            <td>{{ item.createdDate }}</td>-->
<!--            <td>{{ item.modifiedDate }}</td>-->
<!--            &lt;!&ndash;            <td><input class="min-w-140 w-full" type="text" nz-input [(ngModel)]="editCache[item.id].data.createdDate"></td>&ndash;&gt;-->
<!--              &lt;!&ndash;            <td><input class="min-w-140 w-full" type="text" nz-input [(ngModel)]="editCache[item.id].data.modifiedDate"></td>&ndash;&gt;-->
<!--            <td>-->
<!--              <a (click)="saveEdit(item.id)" class="save mr-2">Save</a>-->
<!--              <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(item.id)">Cancel</a>-->
<!--            </td>-->
<!--          }-->
<!--        </tr>-->
<!--      }-->
<!--    </tbody>-->
<!--  </nz-table>-->
<!--</div>-->
<!--<app-editable-data-table-->
<!--  (bulkDelete)="onBulkDelete($event)"-->
<!--  (deleteRow)="onDeleteUser($event)"-->
<!--  (saveRow)="onSaveUser($event)"-->
<!--  [columns]="USER_COLUMNS"-->
<!--  [data]="users()"-->
<!--  [routes]="userListRouting"-->
<!--  viewRoute="/admin/tables/users/">-->
<!--</app-editable-data-table>-->
<!--<app-editable-data-table-->
<!--  (pageChange)="onPageChange($event)"-->
<!--  (sizeChange)="onSizeChange($event)"-->
<!--  [columns]="USER_COLUMNS"-->
<!--  [data]="users()"-->
<!--  [routes]="userListRouting"-->
<!--  viewRoute="/admin/tables/users/">-->
<!--</app-editable-data-table>-->
<app-editable-data-table
  (bulkDelete)="onBulkDelete($event)"
  (pageChange)="onPageChange($event)"
  (saveRow)="onSaveRow($event)"
  (sizeChange)="onSizeChange($event)"
  [columns]="getColumns()"
  [data]="userPageResponse()"
  [loading]="loading()"
  [routes]="userListRouting"
  [showBulkDelete]="true"
  [showSoftDelete]="false"
  entityName="user(s)"
  viewRoute="/admin/tables/users/">
  >
  <div class="flex gap-3 items-center flex-wrap mb-4" table-toolbar>
    <nz-input-wrapper class="w-64">
      <input
        (ngModelChange)="onSearchChange($event)"
        [ngModel]="search()"
        nz-input
        placeholder="Search User..."
      />
    </nz-input-wrapper>

    <button
      (click)="resetFilters()"
      nz-button
      nzType="default"
    >
      Reset
    </button>
  </div>
  <!-- Toolbar nếu cần -->
</app-editable-data-table>

