<div class="p-6 max-w-5xl mx-auto">
  <h1 class="text-2xl font-semibold mb-8">
    ENTITLEMENTS CHECK
  </h1>

  <div class="mt-4 grid grid-cols-1 lg:grid-cols-2 gap-8">
    <!-- Choose Subscriber -->
    <div>
      <h3 class="text-lg font-semibold mb-4 flex items-center gap-2">
        <span class="text-blue-600" nz-icon nzType="user"></span>
        Subscriber
      </h3>

      <button (click)="openSubscriberModal()" class="mb-4" nz-button nzType="primary">
        <span nz-icon nzType="user-add"></span> Select Subscriber
      </button>

      @if (selectedSubscriber(); as sub) {
        <nz-card nzHoverable class="mt-2 border border-blue-200">
          <nz-card-meta
            nzTitle="{{ sub.name || 'Subscriber ' + sub.id }}"
            [nzDescription]="getSubscriberDescription(sub)"
          ></nz-card-meta>
          <button type="button" nz-button nzType="link" nzDanger (click)="clearSubscriber()">
            Remove
          </button>
        </nz-card>
      } @else {
        <p class="text-gray-500 mt-2">Subscriber is not selected</p>
      }
    </div>

    <!-- Choose Features -->
    <div>
      <h3 class="text-lg font-semibold mb-4 flex items-center gap-2">
        <span class="text-blue-600" nz-icon nzType="appstore"></span>
        Features
      </h3>

      <button (click)="openFeatureModal()" class="mb-4" nz-button nzType="primary">
        <span nz-icon nzType="team"></span> Select Features
      </button>

      <div class="flex flex-wrap gap-2">
        @for (fe of selectedFeatures(); track fe.id) {
          <nz-tag
            nzColor="geekblue"
            nzClosable
            (nzOnClose)="removeSelectedFeature(fe.id)"
          >
            {{ getFeatureDescription(fe) }}
          </nz-tag>
        }
        @if (selectedFeatures().length === 0) {
          <p class="text-gray-500 mt-2 w-full">Feature are not selected</p>
        }
      </div>
    </div>
  </div>

  <div class="mt-8 text-center mb-8">
    <button
      (click)="checkEntitlements()"
      [disabled]="!canCheck()"
      [nzLoading]="checking()"
      class="h-12 px-10 text-lg shadow-lg hover:shadow-xl transition-all"
      nz-button
      nzSize="large"
      nzType="primary"
    >
      <span nz-icon nzType="safety-certificate"></span>
      Check Entitlement
    </button>
    @if (!canCheck()) {
      <p class="text-sm text-gray-500 mt-2">
        Please select at least one subscriber and one feature
      </p>
    }
  </div>

  <!-- Table Entitlements -->
  <div class="mt-10">
    <h3 class="text-xl font-semibold mb-6 flex items-center gap-3">
      <span class="text-blue-600" nz-icon nzType="safety-certificate"></span>
      Result
    </h3>

    <nz-table
      [nzData]="tableData()"
      nzShowPagination
      nzShowSizeChanger
      nzSize="middle"
    >
      <thead>
      <tr>
        <th>Feature</th>
        <th>Code</th>
        <th>Allowed</th>
        <th>Valid Until</th>
      </tr>
      </thead>
      <tbody>
        @for (item of tableData(); track item.feature.id) {
          <tr>
            <td>{{ item.feature.name }}</td>
            <td class="font-mono text-orange-600">{{ item.feature.code }}</td>
            <td>
              @if (item.allowed) {
                <nz-tag nzColor="green">Allowed</nz-tag>
              } @else {
                <nz-tag nzColor="red">Not Allowed</nz-tag>
              }
            </td>
            <td>{{ formatDateString(item.validUntil, 'dd/MM/yyyy') }}</td>
          </tr>
        }
        @if (tableData().length === 0) {
          <tr>
            <td colspan="5" class="text-center py-8">
              <nz-empty nzSimple nzTitle="There is no entitlement"></nz-empty>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>

  <!-- Modal Choose Features -->
  <nz-modal
    (nzOnCancel)="isFeatureModalOpen.set(false)"
    (nzOnOk)="isFeatureModalOpen.set(false)"
    [nzVisible]="isFeatureModalOpen()"
    nzCancelText="Close"
    nzOkText="Confirm"
    nzTitle="Select features"
  >
    <ng-template nzModalContent>
      <!--      <nz-spin [nzSpinning]="loading()">-->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-h-96 overflow-y-auto p-4">
        @if (availableFeatures().length === 0) {
          <nz-empty nzSimple nzTitle="There are no features"></nz-empty>
        } @else {
          @for (fe of availableFeatures(); track fe.id) {
            <nz-card
              nzHoverable
              class="relative cursor-pointer hover:border-blue-400 transition-all"
              (click)="toggleFeature(fe)"
            >
              <label
                nz-checkbox
                class="absolute top-3 right-3 z-10"
                [nzChecked]="isFeatureSelected(fe.id)"
                (nzCheckedChange)="toggleFeature(fe)"
              ></label>

              <nz-card-meta
                nzTitle="{{ fe.name || 'Feature ' + fe.id }}"
                [nzDescription]="getFeatureDescription(fe)"
              ></nz-card-meta>
            </nz-card>
          }
        }
      </div>
      <!--      </nz-spin>-->
    </ng-template>
  </nz-modal>

  <!-- Modal Choose Subscriber -->
  <nz-modal
    (nzOnCancel)="isSubscriberModalOpen.set(false)"
    (nzOnOk)="isSubscriberModalOpen.set(false)"
    [nzVisible]="isSubscriberModalOpen()"
    nzCancelText="Close"
    nzOkText="Confirm"
    nzTitle="Select Subscriber"
  >
    <ng-template nzModalContent>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-h-96 overflow-y-auto p-4">
        @if (availableSubscriber().length === 0) {
          <nz-empty nzSimple nzTitle="There are no subscribers"></nz-empty>
        } @else {
          @for (sub of availableSubscriber(); track sub.id) {
            <nz-card
              nzHoverable
              class="cursor-pointer hover:border-blue-400 transition-all"
              (click)="selectSubscriber(sub)"
            >
              <nz-card-meta
                nzTitle="{{ sub.name || 'Subscriber ' + sub.id }}"
                [nzDescription]="getSubscriberDescription(sub)"
              ></nz-card-meta>
            </nz-card>
          }
        }
      </div>
    </ng-template>
  </nz-modal>
</div>
